
/*Credit: Code for the header section taken from https://www.youtube.com/watch?v=BEED-ZPmD0I&list=PLUW3XAK9O3HHv6LPCxTDLvg_YQMVNeiJZ&index=2 and edited to fit project needs*/
/*Header Section*/
.header{
background-image: url('../images/stockholm.jpg');
background-position: center;
background-size: cover;
position: relative;
}

.img-logo{
    width: 40px;
   
}

.header::after{
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position:absolute;
    left: 0;
    bottom:0;
}

.linear-white::after{
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position:absolute;
    left: 0;
    bottom:0;
}

.vh-50{
    height: 25vmin;
}

/*Credit: Code for the header section taken from https://www.youtube.com/watch?v=CZ_fUrs3tL4&list=PLUW3XAK9O3HHv6LPCxTDLvg_YQMVNeiJZ&index=3 and edited slightly to fit project needs*/
/*My work Section*/
.card-effect:hover .card{
    clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%);
}

.card{
    transition-duration: 0.6s; 
    clip-path: polygon(50% 0, 100% 0,100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0);
}
.card-img-filter{
    filter: brightness(0.5);
}

.card-effect:hover .card-img-overlay{
    transform: scale(0.9);
}

.card-effect:hover .card-img-overlay{
    transition-duration: 0.6s;
}

/*Credit: Code for the header section taken from https://www.youtube.com/watch?v=OW6bQ1AGuUk&list=PLUW3XAK9O3HHv6LPCxTDLvg_YQMVNeiJZ&index=4 and edited slightly to fit project needs*/
/*About me Section*/
.comments {
    background-image: url('../images/city.jpg');
    background-position: center;
    background-size: cover; 
    position: relative;
    min-height: 50em;
}

.comments_img {
--size: 150px;
width: var(--size);
height: var(--size);
object-fit: cover;
border-radius: 50%;
border-shadow: 7px 7px 7px rgba(0 0 0 /0.5);
border: 3px ridge #fff;
}

.comments .linear-white::after {
    top: 0;
}

.transform-turn{
    transform: rotate(.5turn);
}

.vh-30{
    height: 40vmin;
}


/*Contact form*/
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

/*Media Queries*/
@media screen and (max-width:375px) {

.vh-50{
    height: 50vmax;
}
}
