/*Header Section*/
.header{
background-image: url('../images/stockholm.jpg');
background-position: center;
background-size: cover;
position: relative;
}

.img-logo{
    width: 40px;
   
}

.header::after{
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position:absolute;
    left: 0;
    bottom:0;
}

.linear-white::after{
    content: "";
    display: block;
    width: 100%;
    height: 14px;
    position:absolute;
    left: 0;
    bottom:0;
}

.vh-50{
    height: 25vmin;
}
/*My work Section*/
.card-effect:hover .card{
    clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%);
}

.card{
    transition-duration: 0.6s; 
    clip-path: polygon(50% 0, 100% 0,100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0);
}
.card-img-filter{
    filter: brightness(0.5);
}

.card-effect:hover .card-img-overlay{
    transform: scale(0.9);
}

.card-effect:hover .card-img-overlay{
    transition-duration: 0.6s;
}

/*Testimonials Section*/
.comments {
    background-image: url('../images/gripsholm-castle.jpg');
    background-position: center;
    background-size: cover; 
    position: relative;
}

.comments_img {
--size: 150px;
width: var(--size);
height: var(--size);
object-fit: cover;
border-radius: 50%;
border-shadow: 7px 7px 7px rgba(0 0 0 /0.5);
border: 3px ridge #fff;
}

.comments .linear-white::after {
    top: 0;
}

.transform-turn{
    transform: rotate(.5turn);
}

.vh-30{
    height: 40vmin;
}

.footer-image{
  float: right;
}

/*Contact form*/
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/*footer*/
.social-icons li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    justify-content: between;
}

.social-icons li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

.vh-center{
    height: 10vmax;
}
/* ----------------------------------------Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}
